{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Classic Builders INC</title>
    <link rel="stylesheet" href="{% static "css/admin-styling/tw.css" %}">
    <link rel="stylesheet" href="{% static "css/admin-styling/style.css" %}">
    <link rel="shortcut icon" href="https://showcaseonline.store/classic-builders-inc/logo-2.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-[#272f40]">
    <main class="flex flex-col-reverse lg:flex-row max-w-maincontent m-auto bg-white">
        {% include "builders_admin/navbar.html" %}
            <aside class="p-6 mb-24 relative w-full">

                <form class="mt-14" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="sm:mb-8 flex items-center justify-between">
                        <h1 class="font-semibold text-[1.4rem] sm:font-normal sm:text-3xl text-nowrap">Main Services</h1>
                    </div>
        
                    <div class="flex flex-col lg:flex-row gap-2 items-center justify-around my-2">
                        <div class="w-full">
                            <input type="text" class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Heading" value="{{ main_services.heading }}" title="Heading" name="heading" title="Heading">
                            <input type="text" class="mt-2 w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Sub Heading" value="{{ main_services.sub_heading }}" title="Sub Heading" name="sub-heading" title="Sub Heading">
                        </div>
                        <textarea class="w-full min-h-24 max-h-24 text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3-50" placeholder="Description" title="Description" name="description" title="Description">{{ main_services.description }}</textarea>
                    </div>
        
                    <div class="mt-10 flex gap-2 flex-wrap justify-start items-center">
                        <!-- Max row size set to 3 items per view | If total items are 3 then add 'xxl:max-w-[32.9%]' in eash item container -->
                        
                        <!-- Item Starts Here -->
                        <div class="item border border-gray-300 rounded-sm px-2 py-3 max-w-[509px] w-full midsm:flex midsm:flex-col midsm:flex-shrink mid:smflex-grow midsm:max-w-[49%] xxxl:max-w-[32.7%]">
                            <div class="relative image-container">
                                <img class="display-image w-full select-none cursor-pointer hover:contrast-[1.15] transition ease-in delay-100" src="{{ main_services.service_1_image.url }}" alt="{{ main_services.alt_service_1_image }}" draggable="false" title="Replace Service Image">
                                <input type="file" accept="image/*" class="hidden" name="service-image-1">
                            </div>
                            <div class="flex flex-row gap-2 items-center justify-around my-2">
                                <input type="text" class="text-center w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Service Title" name="service_1_title" value="{{ main_services.service_1_title }}" title="Service Title">
                            </div>
                        </div>
                        <!-- Item Ends Here -->
                        <!-- Item Starts Here -->
                        <div class="item border border-gray-300 rounded-sm px-2 py-3 max-w-[509px] w-full midsm:flex midsm:flex-col midsm:flex-shrink mid:smflex-grow midsm:max-w-[49%] xxxl:max-w-[32.7%]">
                            <div class="relative image-container">
                                <img class="display-image w-full select-none cursor-pointer hover:contrast-[1.15] transition ease-in delay-100" src="{{ main_services.service_2_image.url }}" alt="{{ main_services.alt_service_2_image }}" draggable="false" title="Replace Service Image">
                                <input type="file" accept="image/*" class="hidden" name="service-image-2">
                            </div>
                            <div class="flex flex-row gap-2 items-center justify-around my-2">
                                <input type="text" class="text-center w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Service Title" name="service_2_title" value="{{ main_services.service_2_title }}" title="Service Title">
                            </div>
                        </div>
                        <!-- Item Ends Here -->
                        <!-- Item Starts Here -->
                        <div class="item border border-gray-300 rounded-sm px-2 py-3 max-w-[509px] w-full midsm:flex midsm:flex-col midsm:flex-shrink mid:smflex-grow midsm:max-w-[49%] xxxl:max-w-[32.7%]">
                            <div class="relative image-container">
                                <img class="display-image w-full select-none cursor-pointer hover:contrast-[1.15] transition ease-in delay-100" src="{{ main_services.service_3_image.url }}" alt="{{ main_services.alt_service_3_image }}" draggable="false"  title="Replace Service Image">
                                <input type="file" accept="image/*" class="hidden" name="service-image-3">
                            </div>
                            <div class="flex flex-row gap-2 items-center justify-around my-2">
                                <input type="text" class="text-center w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Service Title" name="service_3_title" value="{{ main_services.service_3_title }}" title="Service Title">
                            </div>
                        </div>
                        <!-- Item Ends Here -->
                    </div>
    
                    <div class="2xl:mr-4">
                        <input type="text" class="mt-2 bg-primary px-2 py-2 text-center rounded-md w-full text-base outline-none placeholder:text-black placeholder:text-center text-black transition ease-in delay-100 focus:bg-blue-50" placeholder="Button Text" name="button_text" value="{{ main_services.button_text }}" title="Button Text">
                    </div>
    
                    <div class="mt-2 2xl:mr-3">
                        <button type="submit" name="action" value="update" class="bg-blue-500 px-2 py-2 text-center rounded-md w-full text-base outline-none text-white transition ease-in delay-100 focus:bg-green-500" title="Update and Save">Save</button>
                    </div>
                </form>
                
            </aside>
    </main>

    <script src="{% static "js/admin-scripts/nav-sub-menu.js" %}"></script>
    <script type="module" src="{% static "js/admin-scripts/item-management.mjs" %}"></script>
</body>
</html>