{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Classic Builders INC</title>
    <link rel="stylesheet" href="{% static "css/admin-styling/tw.css" %}">
    <link rel="stylesheet" href="{% static "css/admin-styling/style.css" %}">
    <link rel="shortcut icon" href="https://showcaseonline.store/classic-builders-inc/logo-2.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="bg-[#272f40]">
    <main class="flex flex-col-reverse lg:flex-row max-w-maincontent m-auto bg-white">
        {% include "builders_admin/navbar.html" %}
            <aside class="p-6 mb-24 relative w-full">
                <section class="mt-14 border border-gray-300 p-2 rounded-md">
                    <div class="sm:mb-8 flex items-center justify-between">
                        <h1 class="font-semibold text-[1.4rem] sm:font-normal sm:text-3xl text-nowrap">Specialized In</h1>
                    </div>

                    <form action="{% url 'builders_admin:specialized_in' %}" method="post">
                        {% csrf_token %}
                        <div class="flex flex-col lg:flex-row gap-2 items-center justify-around my-2 min-w-16">
                            <div class="flex flex-col gap-2 items-center w-full lg:w-2/4">
                                <input type="text" class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Heading" value="{{ specialized_in.heading }}" name="heading" title="Heading">
                                <input type="text" class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Sub Heading" value="{{ specialized_in.sub_heading }}" name="sub-heading" title="Sub Heading">
                            </div>
                            <textarea class="w-full lg:w-2/4 min-h-24 max-h-24 text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3-50" placeholder="Description" name="description" title="Description">{{ specialized_in.description }}</textarea>
                        </div>
                        <button type="submit" name="action" value="update_specialized_top" class="mb-5 bg-blue-500 px-2 py-2 text-center rounded-md w-full text-base outline-none text-white transition ease-in delay-100 focus:bg-green-500" title="Update and Save">Save</button>
                    </form>

                    <div class="item lg:relative flex flex-col gap-3 lg:flex-row lg:mt-32">
        
                        <form class="image-container" action="{% url 'builders_admin:specialized_in' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <img class="display-image select-none cursor-pointer hover:contrast-[1.15] transition ease-in delay-100" src="{{ specialized_in.image.url }}" alt="{{ specialized_in.alt_image }}" draggable="false">
                            <input type="file" accept="image/*" class="hidden" name="image">
                            <button type="submit" name="action" value="update_specialized_image" class="mt-2 text-center w-full lg:w-[50%] lg:pl-36 bg-blue-500 px-2 py-2 rounded-md text-base outline-none text-white transition ease-in delay-100 focus:bg-green-500" title="Update and Save">Save</button>
                        </form>
        
                        <div class="lg:absolute z-20 lg:bg-white lg:px-3 lg:py-2 lg:rounded-md lg:translate-x-11 lg:w-1/2 lg:right-14 lg:-top-16 lg:shadow-top-left-bottom">
                            <form class="flex flex-col gap-2 items-center justify-around my-2 min-w-16" action="{% url 'builders_admin:specialized_in' %}" method="post">
                                {% csrf_token %}
                                <input type="text" class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Heading" value="{{ specialized_in.heading_2 }}" name="heading-2" title="Heading">
                                <input type="text" class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Sub Heading" value="{{ specialized_in.sub_heading_2 }}" name="sub-heading-2" title="Sub Heading">
                                <input type="text" class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Subsection Heading" value="{{ specialized_in.subsection_heading }}" name="subsection-heading" title="Subsection Heading">

                                <button type="submit" name="action" value="update_specialized_subsection" class="bg-blue-500 px-2 py-2 text-center rounded-md w-full text-base outline-none text-white transition ease-in delay-100 focus:bg-green-500" title="Update and Save">Save</button>
                            </form>
                            

                            <div class="flex justify-between items-center">
                                <h1 class="my-8 text-[1.2rem] sm:font-normal sm:text-2xl text-nowrap">Services</h1>
                                <div class="text-[1.4rem] sm:text-3xl cursor-pointer">
                                    <form action="{% url "builders_admin:specialized_in" %}" method="post">
                                        {% csrf_token %}
                                        {% if not specialized_in_services|length >= 6 %}
                                        <button type="submit" name="action" value="add_services">
                                            <i class="fa-solid fa-plug-circle-plus text-green-500 transition ease-in hover:text-green-600 active:text-green-200 active:scale-75" title="Add More Services" tabindex="0" name></i>
                                        </button>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                            {% for specialized_in_service in specialized_in_services %}
                            {% if specialized_in_service %}
                            <form class="flex flex-row gap-2 items-center my-2 flex-wrap" action="{% url "builders_admin:specialized_in" %}" method="post">
                                {% csrf_token %}
                                <div class="w-full flex-col ssm:flex-row flex items-center gap-2">
                                    <div class="w-full relative flex items-center justify-end">
                                        <input type="text" class="w-full text-sm font-normal px-2 py-2 pr-11 border-none outline-none rounded-md bg-blue-50 sm:py-3" placeholder="Service" value="{{ specialized_in_service.service_title }}" name="service-title" titile="Service Title">
                                        <input type="text" name="object-id" value="{{ specialized_in_service.id }}" class="hidden">
                                        {% if specialized_in_services|length >= 2 %}
                                        <button class="absolute text-red-500 bg-white transition ease-in px-2 right-1 py-[0.2rem] rounded-full cursor-pointer active:bg-black active:text-white active:scale-75" type="submit" value="remove_services" name="action" title="Remove Service">
                                            <i class="fa-solid fa-xmark" tabindex="0"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <div class="w-full ssm:w-fit ssm:text-nowrap gap-2">
                                        <button type="submit" name="action" value="update_services" class="bg-blue-500 px-2 py-2 text-center rounded-md w-full text-base outline-none text-white transition ease-in delay-100 focus:bg-green-500" title="Update and Save Service">Save Service</button>
                                    </div>
                                </div>
                            </form>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </aside>
    </main>
    <script src="{% static "js/admin-scripts/nav-sub-menu.js" %}"></script>
    <script type="module" src="{% static "js/admin-scripts/item-management.mjs" %}"></script>
    <script src="{% static "js/admin-scripts/append-data_to_form.js" %}"></script>

</body>
</html>