{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Classic Builders INC</title>
    <link rel="stylesheet" href="{% static "css/admin-styling/tw.css" %}">
    <link rel="stylesheet" href="{% static "css/admin-styling/style.css" %}">
    <link rel="shortcut icon" href="https://showcaseonline.store/classic-builders-inc/logo-2.png" type="image/x-icon">
</head>
<body class="bg-secondary">
    <main class="flex justify-around items-center max-w-[1200px] m-auto h-[100vh] sm:h-fit">
        <aside class="">
            <img class="h-[100vh] select-none object-cover hidden sm:block" src="https://showcaseonline.store/classic-builders-inc/649a95c241c0447e7e6ce0d5/services/inner/Residential.jpg" alt="residential" draggable="false">
        </aside>

        <main
          class="w-[380px] px-6 py-7 rounded-md flex flex-col items-center mx-8 bg-white h-[550px] translate-x-0 sm:-translate-x-36"
          style="border: 1px solid #80808030"
        >
          <form action="###" method="post" class="">
            {% csrf_token %}
            <div class="mt-14 mb-3 flex flex-col items-center gap-2">
                <img class="w-12" src="https://showcaseonline.store/classic-builders-inc/logo-2.png" alt="site logo">
                <h1 class="text-[1.4rem] sm:mb-8 sm:text-3xl text-nowrap">Classic Builders INC</h1>
            </div>

            {% if error_message %}
            <div class="">
              <p class="mb-4 text-red-500 text-sm">Invalid Email or Password</p>
            </div>
            {% endif %}

            <div class="mb-4">
              <label class="text-sm font-medium" for="email">Email</label>
              <input
                class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3"
                placeholder="williams.alexander@nowheremail.com"
                type="email"
                id="email"
                name="email"
                required
              />
            </div>
            <div class="mb-4">
              <label class="text-sm font-medium" for="email">Password</label>
              <input
                class="w-full text-sm font-normal px-2 py-2 border-none outline-none rounded-md bg-blue-50 sm:py-3"
                placeholder="******************"
                type="password"
                id="password"
                name="password"
                required
              />
            </div>
            <div class="mt-12">
              <button
                class="bg-primary text-black py-2 px-12 rounded-md w-full text-base"
                type="submit"
              >
                Submit
              </button>
            </div>
          </form>
        </main>
    </main>
</body>
</html>